<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Instituciones</title>
</head>
<body>
    <header>
        <h1>Gestión de Instituciones</h1>
    </header>
    <main>
        <h2>Bienvenido al sistema de instituciones</h2>
        <p>Seleccione una de las opciones para manejar la información:</p>
        <button onclick="location.href='crear.html'">Crear Institución</button>
        <button onclick="location.href='consultar.html'">Consultar Institución</button>
        <button onclick="location.href='actualizar.html'">Actualizar Institución</button>
    </main>
</body>
</html>